@charset 'utf-8';

@import 'reset';


#header{
    width: 100%;
    height: 150px;
    
    .inner{
        width: 1180px;
        height: 100%;
        margin: 0 auto;

        h1{
            font: bold 25px/1 'arial';
            margin-bottom: 10px;
            margin-top: 15px;
        }

        ul{

            li{
                float: right;
                a{
                    color: #444;
                    margin-right: 10px;
                    font: 15px/1 'arial';
                }                
            }
        }
    }
}

#visual{
    width: 100%;
    height: 450px;
    position: relative;
    background: peachpuff;

    .inner{
        width: 1180px;
        margin: 0 auto;
        
    }
}

#footer{
    width: 100%;
    padding: 70px 0px 40px 0;
    border-top: 1px solid #888;

    .inner{
        width: 1180px;
        margin: 0 auto;
        text-align: center;

        h1{
            font: bold 17px/1 'arial';
            color: #444;
            margin-bottom: 15px;
        }

        .wrap{
            .top{
                h2{
                    font: 15px/1 'arial';
                    margin-bottom: 5px;
                }
            }
        }
    }
}