@charset 'utf-8';

@import 'reset';


#header{
    width: 100%;
    height: 150px;
    
    .inner{
        width: 1180px;
        height: 100%;
        margin: 0 auto;
        position: relative;

        h1{
            position:absolute; 
            left:0; 
            bottom:15px; 

            a{
                font: bold 24px/1 'arial';
                color: #444;
            }

        }

        #gnb{
            position: absolute;
            right: 0;
            bottom: 0;

            &::after{
                content: '';
                display: block; 
                clear: both;
            }

            li{
                float: left;
                a{
                    display: inline-block;
                    padding: 14px 40px;
                    font: bold 15px/1 'arial';
                    color: #777;

                    &:hover{
                        color: #fff;
                        background: #555;
                    }
                }
            }

        }

        .util{
            position: absolute;
            right: 40px;
            top: 20px;

            &::after{
                content: '';
                display: block;
                clear: both;
            }

            li{
                float: left;
                margin-left: 20px;

                a{
                    font: 12px/1 'arial';
                    color: #999;
                }
            }
        }

        .btnMo{
            position: absolute;
            bottom: 20px;
            right: 30px;
            font-size: 30px;
            color: #555;
            display: none;
        }
    }
}

#visual{
    width: 100%;
    height: calc(100vh - 120px );
    position: relative;
    background: lightblue;

    .inner{
        width: 1180px;
        height: 100%;
        margin: 0 auto;
        position: relative;
        
        .txt{
            width: 80%;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            
            h1{
                font: 120px/1 'arial';
                color: #fff;
                margin-bottom: 20px;
            }

            p{
                font: 16px/1.4 'arial';
                color: #111;
                margin-bottom: 60px;
            }
            a{
                display: block;
                width: 400px;
                height: 30px;
                border: 1px solid #bbb;
                font: bold 11px/30px 'arial';
                color: #fff;
                text-align: center;
                letter-spacing: 1px;
            }
        }
    }
}

#footer{
    width: 100%;
    padding: 70px 0px 40px 0;
    border-top: 1px solid #888;

    .inner{
        width: 1180px;
        margin: 0 auto;
        text-align: center;

        h1{
            font: bold 17px/1 'arial';
            color: #444;
            margin-bottom: 25px;
        }

        .wrap{
            display: flex;
            .top{
                width: 33.333%;
                h2{
                    font: 16px/1 'arial';
                    margin-bottom: 5px;
                }
            }
            .middle{
                width: 33.333%;
                h2{
                    font: 16px/1 'arial';
                    margin-bottom: 5px;

                }
            }
            .last{
                width: 33.333%;
                h2{
                    font: 16px/1 'arial';
                    margin-bottom: 5px;

                }
                ul{
                    li{
                        float: left;
                        margin-right: 10px;
                        a{
                            font: bold 14px/1 'arial';
                            color: #444;
                        }
                    }
                }
            }
        }
        
    }
}